; Hermes Specification File

forwardPeriod=500

[UnitNumbers]
numberOfMotors=2
numberOfMppts=4

[JsonFormat]
packetTitle=Helios

[SerialPort]
portName=/dev/pts/5
baudrate=115200

[Mqtt]
telemetryTopic=packet
pingTopic=ping
pongTopic=pong
telemetryHostname=aedes.calgarysolarcar.ca
telemetryPort=1883
telemetryUsername=BEGONE
telemetryPassword=NiceTryBud

[Logging]
logLevel=3
loggingEnabled=true

[PiPin]
pin0=20
pin1=21
