; Mercury Specification File

forwardPeriod=500

[UnitNumbers]
numberOfMotors=2
numberOfMppts=4

[JsonFormat]
packetTitle=Helios

[SerialPort]
portName=/dev/pts/5
baudrate=115200

[Can]
interface=can0
enabled=true

[Mqtt]
telemetryTopic=packet
pingTopic=ping
pongTopic=pong
telemetryHostname=aedes.IDontWantToKeepConnecting.ca
telemetryPort=1883
telemetryUsername=BEGONE
telemetryPassword=NiceTryBud

[Logging]
loggingEnabled=true
logPath=Mercury.log

[Gpio]
rfidPin0=20
rfidPin1=21