; Hermes Specification File

forwardPeriod=500

[UnitNumbers]
numberOfMotors=2
numberOfMppts=4

[JsonFormat]
packetTitle=Helios

[SerialPort]
portName=/dev/pts/5
baudrate=115200

[Mqtt]
localTopic=hermesExchange
localHostname=127.0.0.1
localPort=6969
telemetryTopic=packet
telemetryHostname=aedes.calgarysolarcar.ca
telemetryPort=1883
telemetryUsername=BEGONE
telemetryPassword=NiceTryBud

[Logging]
logLevel=3
loggingEnabled=true